.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.error-page{
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto; */
}
.vertical-center{
min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
min-height: 100vh; /* These two lines are counted as one :-)       */

display: flex;
align-items: center;
}